<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.826731003533-q8igghus6ku33km6n130b8gqbm5a7efb</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>OneList AI needs microphone access to convert your voice to tasks.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>OneList AI needs speech recognition access to convert your voice to tasks.</string>
	<key>NSCameraUsageDescription</key>
	<string>OneList AI needs camera access to let you take profile photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OneList AI needs gallery access to let you pick profile photos.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
